.action_panel{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    margin: auto;
    grid-gap: 0px;

}

.action_panel .dir_background div{
    background-color: khaki;
}

.action_panel .card_background div{
    background-color: #Ff9f9f;
}