.card_holder{
    margin: 16px auto;
    max-width: 700px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #Ff9f9f;
}

.card_holder input,
.card_holder textarea{
    border-radius: 10px;
}

.card_title{
    width: 70%;
}

.card_title,
.card_description,
.card_message{
    margin-bottom: 16px;
}

.card_title_view{
    padding: 5px 10px;
}

.card_title_view,
.card_description_view,
.card_message_view{
    border: 5px inset beige;
    border-radius: 20px;
}

.card_description_view,
.card_message_view{
    text-align: justify;
    padding: 5px 5px;
}

.card_description_view{
    margin-bottom: 10px;
}

.card_message_view{
    min-height: 200px;
}