.card_holder{
    margin: 16px auto;
    max-width: 700px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: #Ff9f9f;
}

.card_holder input,
.card_holder textarea{
    border-radius: 10px;
}

.card_title_holder,
.card_title_holder input{
    width: 70%;
    text-align: left;
    margin-bottom: 10px;
    padding: 5px 10px;
}

/* .card_title_input{
    width: 70% !important;
} */

.card_description_holder{
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px 5px;
}

.card_message_holder{
    text-align: justify;
    min-height: 200px;
    padding: 5px 5px;
}

.card_title_holder,
.card_description_holder,
.card_message_holder{
    border: 5px inset beige;
    border-radius: 20px;
}

.delete_phrase{
    text-align: center;
}

.delete_phrase p{
    margin-top: 8px;
}
