.createButton::after{
    content: "";
    clear: both;
    display: table;
}

.createButton{
    text-align: center;
}

a:link, a:visited{
    color: blue;
}

.back_navigation{
    margin: 16px 32px;
}

html{
    font-size: 18px;
    background-color: beige;
}

.action_panel_holder{
    text-align: center;
}

.action_panel{
    /* text-align: center; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: fit-content;
    margin: auto;

}

.action_panel .column{
    display: inline-block;
    grid-gap: 0px;
}

.action_panel .add_dir_button,
.action_panel .add_card_button{
    min-width: 100px;
    padding: 10px;
    text-align: center;
    color: black;
    /* background-color: chartreuse; */
    border: 1px solid black;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
}

.action_panel .add_dir_button{
    background-color: khaki;
}

.action_panel .add_card_button{
    background-color: #Ff9f9f;
}

.action_panel .add_dir_button:hover,
.action_panel .add_card_button:hover{
    /* background-color: lightgray; */
    transition-duration: 0.5s;
    box-shadow: 0px 0px 10px 3px rgba(0, 255, 0, 0.3), 0px 0px 32px 8px rgba(0, 255, 0, 0.6);
    background-color: gainsboro;
}