.table_holder{
    margin: 16px auto;
    /* width: 80%; */
    max-width: 1000px;
}

table.dir_view{
    width: 100%;
    border: 3px solid;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
}

table.dir_view thead,
table.dir_view tbody,
table.dir_view tfoot,
table.dir_view tr,
table.dir_view th,
table.dir_view td{
    border: inherit;
    text-align: inherit;
}

table.dir_view .double_icon{
    max-width: 64px;
    min-width: 64px;
    width: 64px;
    height: 32px;
}

table.dir_view .single_icon,
table.dir_view .empty_icon{
    max-width: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
}

table.dir_view .empty_icon{
    border: none;
}

table.dir_view .int_value{
    width: 5%;
    white-space: nowrap;
}

table.dir_view .create_modified{
    width: 10%;
    white-space: nowrap;
}

table.dir_view .int_value,
table.dir_view .create_modified{
    padding: 0px 5px;
}

table.dir_view .body_column{
    width: 80%;
    text-align: left;
}

table.dir_view .body_cell{
    text-align: left;
    height: 50px;
}

table.dir_view .body_cell_value{
    margin-top: 0px;
    margin-bottom: 0px;
}

table.dir_view .actions{
    margin: 0px auto 0px auto;
    text-align: right;
    font-size: 12px;
    white-space: nowrap;
}

table.dir_view .dir_row{
    background-color: khaki;
}

table.dir_view .card_row{
    background-color: #f99f9f;
}

table.dir_view .header_row,
table.dir_view .empty_icon{
    background-color: white;
}

table.body_align{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
}

table.body_align .top_row{
    vertical-align: top;
}

table.body_align .bottom_row{
    vertical-align: bottom;
}

table.body_align .bottom_row_left{
    width: 100%;
}

table.body_align thead,
table.body_align tbody,
table.body_align tfoot,
table.body_align th,
table.body_align tr,
table.body_align td{
    padding: 0px;
}

table dt.body_cell_value{
    font-weight: bold;
}