.tree_view {
    max-height: 900px;
    margin-right: 24px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tree_description{
    margin-top: auto;
    margin-right: 24px;
}

.parent_node{

}

.child_node{

}

.tree, .tree ul {
    margin: 0px auto;
    padding-left: 18px;
    list-style-type: none;
}

.active{
    display: block !important;
}

.child_node{
    display: none;
}

.caret{
    cursor: pointer;
    user-select: none;
}

.caret::before{
    content: "\25B6";
    display: inline-block;
}

.caret-down::before{
    transform: rotate(90deg);
}

.tree_cards_description{
    margin-top: auto;
    margin-left: 24px;
    text-align: right;
}

.cards_holder{
    max-height: 900px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cards_holder, .cards_holder div{
    margin-left: 24px;
    text-align: right;
    
}