.user_guide_holder{
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
}

.user_data_holder,
.user_form_holder{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    width: fit-content;
    margin: auto;
    text-align: center;
}

.user_form_holder{
    min-width: 400px;
    clear: both;
    align-items: center;
}

.state_spacer{
    grid-column: 1 / 3;
    border-bottom: 1px solid black;
}

.user_buttons_holder{
    display: grid;
    grid-template-columns: auto;
    float: right;
}

.error_row_user{
    grid-column: 1 / 3;
    text-align: center;
}

.whole_row{
    grid-column: 1 / 3;
}

.user_input_label{
    text-align: left;
}